<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/template.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body class="bg-primary text-secondary">
    <div class="header-top border">
        <div class="header container">
            <h1>Delivery </h1>
        </div>
    </div>

    <div class="table-top container">
        <table>
            <tr class=" bg-variant tr-header">
              <th>ID</th>
              <th>Robot ID</th>
              <th>Vendor ID</th>
              <th>Task ID</th>
              <th>Task Type</th>
              <th>Destination Point</th>
            </tr>
            <tr class="bg-secondary">
              <td>yrdd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
            </tr>
          </table>
    </div>

</body>
</html>